nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.185.238.42

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21

  hub:
    extraConfig:
      # Use 1x-<title> in `common.yaml` extraConfig values.
      # We want these to come *after* the extraConfig values
      # in `values.yaml`. Since these are ordered alphabetically,
      # 1x-<title> used in `common.yaml` will come after
      # 0x-<title> used in `values.yaml` - so config set here
      # will override config set in `values.yaml`
      11-working-dir: |
        # Rocker based images have 'rstudio' as user id 1000
        # so let's stick to that, and use /home/${NB_USER}
        # consistently.
        c.KubeSpawner.working_dir = '/home/rstudio'

    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21
    config:
    loadRoles:
      # datahub staff
      datahub-staff:
        description: Enable admin for datahub staff
        # this role provides permissions to...
        scopes:
          - admin-ui
          - admin:groups
          - admin:users
          - admin:servers
          - read:roles
          - read:hub
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::all-admins
  singleuser:
    # Run the gradebook/gradebook container in the user pod
    # https://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html#kubespawner.KubeSpawner.extra_containers
    extraContainers:
      - name: gradebook
        image: gradebook/gradebook:sha-68b075f
        ports:
          - containerPort: 3839
        volumeMounts:
          - name: home
            mountPath: /home/rstudio
            subPath: "{username}"
    extraFiles:
      # DH-216
      remove-exporters:
        mountPath: /etc/jupyter/jupyter_notebook_config.py
        stringData: |
          c.QtPDFExporter.enabled = False
          c.QtPNGExporter.enabled = False
          c.WebPDFExporter.enabled = False
      # proxy the gradebook container
      proxy-gradebook:
        # https://jupyter-server-proxy.readthedocs.io/en/latest/server-process.html#specifying-config-via-traitlets
        mountPath: /etc/jupyter/jupyter_server_config.py
        stringData: |
          c.ServerProxy.servers = {
            "gradebook": {
              "port": 3839
            }
          }
    extraEnv:
      # Unset NotebookApp from hub/values. Necessary for recent lab versions.
      JUPYTERHUB_SINGLEUSER_APP: "jupyter_server.serverapp.ServerApp"
    nodeSelector:
      hub.jupyter.org/pool-name: small-courses-pool
    storage:
      # Rocker based images have 'rstudio' as user $1000
      # so let's stick to that, and use /home/${NB_USER}
      # consistently.
      homeMountPath: /home/rstudio
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
    #defaultUrl: "/shiny"
    memory:
      guarantee: 512M
      limit: 1G

  #custom:
  #  group_profiles:
  #
  #    # Example: increase memory for everyone affiliated with a course.
  #
  #    # Name of Class 100, Fall '22; requested in #98765
  #    course::123456:
  #      mem_limit: 4096M
  #      mem_guarantee: 2048M
  #
  #    # Example: grant admin rights to course staff.
  #    # Enrollment types returned by the Canvas API are `teacher`,
  #    # `student`, `ta`, `observer`, and `designer`.
  #    # https://canvas.instructure.com/doc/api/enrollments.html
  #
  #    # Some other class 200, Spring '23; requested in #98776
  #    course::234567::enrollment_type::teacher:
  #      mem_limit: 2096M
  #      mem_guarantee: 2048M
  #    course::234567::enrollment_type::ta:
  #      mem_limit: 2096M
  #      mem_guarantee: 2048M
  #
  #
  #    # Example: a fully specified CanvasOAuthenticator group name.
  #    # This could be useful for temporary resource bumps where the
  #    # instructor could add people to groups in the bCourses UI. This
  #    # would benefit from the ability to read resource bumps from
  #    # jupyterhub's properties. (attributes in the ORM)
  #
  #    # Name of Class 100, Fall '22; requested in #98770
  #    course::123456::group::lab4-bigdata:
  #      - mountPath: /home/rstudio/.ssh
  #        name: home
  #        subPath: _some_directory/_ssh
  #        readOnly: true
