jupyterhub:
  ingress:
    enabled: true
    hosts:
      - highschool.datahub.berkeley.edu
    tls:
      - secretName: tls-cert
        hosts:
          - highschool.datahub.berkeley.edu
  hub:
    db:
      pvc:
        # This also holds logs
        storage: 4Gi
