jupyterhub:
  scheduling:
    userPlaceholder:
      enabled: true
      # About one node of headroom
      replicas: 60
  proxy:
    service:
      loadBalancerIP: 35.184.101.216
    https:
      hosts:
        - prob140.datahub.berkeley.edu
  hub:
    db:
      pvc:
        # This also holds logs
        storage: 12Gi