jupyterhub-ssh:
  hubUrl: https://prob140-staging.datahub.berkeley.edu

jupyterhub:
  scheduling:
    userPlaceholder:
      enabled: true
      replicas: 10
  proxy:
    service:
      loadBalancerIP: 35.184.101.216
    https:
      hosts:
        - prob140.datahub.berkeley.edu
  hub:
    db:
      pvc:
        # This also holds logs
        storage: 12Gi
