name: a11y

channels:
- conda-forge

dependencies:
- python==3.10.8
- git==2.39.0
- coverage==6.4.4
- jupyter_server==2.5.0
- jupyter-book==0.13.1
- jupyter-resource-usage==0.7.1
- jupyterhub==3.1.0
- matplotlib==3.6.2
- nbgitpuller==1.1.1
- numpy==1.24.0
- plotly==5.11.0
- pyopenssl==22.1.0
- requests==2.28.1
- urllib3==1.26.11
- websockify==0.11.0
- pip==21.3.1
- pip:
  #- -r infra-requirements.txt
  # Upgrade separate from what everyone else uses for now
  # https://github.com/berkeley-dsep-infra/datahub/issues/3693
  - notebook==7.0.0a15
  - jupyterlab==4.0.0a35
  # ###
  # The items below are from infra-requirements, however lab conflicts with the
  # alpha notebook.
  # We disable infre-requirements.txt above and manually enable some of what it
  # provides below.
  # ###
  # Matches version in images/hub/Dockerfile
