name: a11y

channels:
- conda-forge

dependencies:
- python==3.11.*
- git==2.40.0
- coverage==7.2.2
- jupyter-archive==3.4.0
- jupyter_server==2.7.0
- jupyter-book==0.15.1
- jupyter-resource-usage==0.7.1
- jupyterhub==4.1.5
- matplotlib==3.7.1
- nbgitpuller==1.2.1
- nbclassic==1.0.0
- nbconvert==7.14.2
- numpy==1.24.2
- plotly==5.13.1
- pyopenssl==23.1.0
- requests==2.32.3
- urllib3==2.2.2
- websockify==0.11.0
- pip==23.0.1
- jupyterthemes==0.20.0
- jupyterlab-accessible-themes==0.1.1
- jupyterlab_pygments==0.2.2
- pip:
  #- -r infra-requirements.txt
  # Upgrade separate from what everyone else uses for now
  # https://github.com/berkeley-dsep-infra/datahub/issues/3693
  - notebook==7.1.0a1
  - jupyterlab==4.1.0b0
  - nbconvert-a11y==2023.12.6
  - nb2pdf==0.6.2
  - nbpdfexport==0.2.1
  - jupyterlab-a11y-checker==0.1.2
  # ###
  # The items below are from infra-requirements, however lab conflicts with the
  # alpha notebook.
  # We disable infre-requirements.txt above and manually enable some of what it
  # provides below.
  # ###
  # Matches version in images/hub/Dockerfile
