name: a11y

channels:
- conda-forge

dependencies:
- python==3.11.0
- git==2.40.0
- coverage==7.2.2
- jupyter_server==2.5.0
- jupyter-book==0.15.1
- jupyter-resource-usage==0.7.1
- jupyterhub==3.1.1
- matplotlib==3.7.1
- nbgitpuller==1.1.1
- nbclassic==0.3.7
- numpy==1.24.2
- plotly==5.13.1
- pyopenssl==23.1.0
- requests==2.28.2
- urllib3==1.26.15
- websockify==0.11.0
- pip==23.0.1
- jupyterthemes==0.20.0
- pip:
  #- -r infra-requirements.txt
  # Upgrade separate from what everyone else uses for now
  # https://github.com/berkeley-dsep-infra/datahub/issues/3693
  - notebook==7.0.0b4
  - jupyterlab==4.0.2
  # ###
  # The items below are from infra-requirements, however lab conflicts with the
  # alpha notebook.
  # We disable infre-requirements.txt above and manually enable some of what it
  # provides below. 
  # ###
  # Matches version in images/hub/Dockerfile
