name: stat20

channels:
- conda-forge

dependencies:
- syncthing==1.22.2
- jupyter-rsession-proxy==2.2.0
# bug w/notebook and traitlets: https://github.com/jupyter/notebook/issues/7048
- traitlets=5.9.*
- pip:
  - -r /tmp/infra-requirements.txt
    # For push authentication to GitHub
  - gh-scoped-creds==4.1
