channels:
- bioconda
- conda-forge
dependencies:
- python=3.9.*
- pip=22.2.*

# Package to allow Jupyter Notebook or JupyterLab applications in one conda env to access other kernels (e.g. qiime2)
- nb_conda_kernels=2.3.1

# proxy web applications
- jupyter-server-proxy==4.1.2
- jupyter-rsession-proxy==2.2.0

# Packages from bioconda for IB134L
# - bwa=0.7.12
- samtools=1.3.1
- mafft=7.471
- emboss=6.6.0
- augustus=3.5.0
- raxml-ng=1.0.1
- structure=2.3.4
- paml=4.9
#- repeatmasker=4.0.9
- trimmomatic=0.39
- blast=2.12.0
- fastqc=0.11.9
- phyml=3.3.20200621
- sra-tools=2.11
# - hisat2=2.2.1
# - subread=2.0.1
- plink=1.90b6.21

- syncthing==1.18.6

# Packages for IB120/201/CCB210
- sympy=1.6.2

# Packages from bioconda for BioE-131, Fall 2020, Issue #1885
- bowtie2=2.4.2
- spades=3.14.1

# Packages for MCB280A, Spring 2022
- bedtools=2.30.0

# Packages from bioconda for BIO1B
- raxml=8.2.*
- muscle=3.8.*
- dendropy=4.4.*


# pedagogy packages
- scipy=1.7.1
- pandas=1.3.2
- seaborn=0.11.2

# compbio BioE c146, Fall 22 and into the future, issue 3785
- scikit-learn=1.1.2

# bug w/notebook and traitlets: https://github.com/jupyter/notebook/issues/7048
- traitlets=5.9.*

# For https://github.com/berkeley-dsep-infra/datahub/issues/1846
# Conda does not have these
- pip:
# MCB280A, Spring 2022
  - pybedtools==0.9.0
# removed for PR https://github.com/berkeley-dsep-infra/datahub/pull/4406 - macs2==2.2.7.1
  - geonomics==1.1.9
  - nlmpy==1.0.1
  - datascience==0.17.5
  - -r infra-requirements.txt
# Packages for MCB-160L iss #3942
  - allensdk==2.13.6
  - otter-grader==3.1.4
# for exporting notebooks to pdf
  - nbconvert==7.6.0
  - nb2pdf==0.6.2
  - nbpdfexport==0.2.1
