channels:
- bioconda
- conda-forge
dependencies:
- python=3.9.*
- pip=20.2.*

# Package to allow Jupyter Notebook or JupyterLab applications in one conda env to access other kernels (e.g. qiime2)
- nb_conda_kernels=2.3.1

# Packages from bioconda for IB134L
- bwa=0.7.12
- samtools=1.3.1
- mafft=7.471
- emboss=6.6.0
- augustus=3.3.3
- raxml-ng=1.0.1
- structure=2.3.4
- paml=4.9
#- repeatmasker=4.0.9
- trimmomatic=0.39
- blast=2.12.0
- fastqc=0.11.9
- phyml=3.3.20200621
- sra-tools=2.11
- hisat2=2.2.1
- subread=2.0.1

- syncthing==1.18.6

# Packages for IB120/201/CCB210
- sympy=1.6.2

# Packages from bioconda for BioE-131, Fall 2020, Issue #1885
- bowtie2=2.4.2
- spades=3.14.1

# Packages for MCB280A, Spring 2022
- bedtools=2.30.0

# Packages from bioconda for BIO1B
- raxml=8.2.*
- muscle=3.8.*
- dendropy=4.4.*

# pedagogy packages
- scipy==1.7.1
- pandas==1.3.2
- seaborn==0.11.2

# For https://github.com/berkeley-dsep-infra/datahub/issues/1846
# Conda does not have these
- pip:
# MCB280A, Spring 2022
  - pybedtools==0.9.0
  - macs2==2.2.7.1
  - geonomics==1.1.9
  - nlmpy==1.0.1
  - -r infra-requirements.txt
