# A few packages not available on conda-forge. The rest of the environment is 
# provided in environment.yml

# Measure popularity of different packages in our hubs
# https://discourse.jupyter.org/t/request-for-implementation-instrument-libraries-actively-used-by-users-on-a-jupyterhub/7994?u=yuvipanda
popularity-contest==0.4.1

# Assist git credentials management
git-credential-helpers==0.2
