-r infra-requirements.txt

# From https://github.com/berkeley-dsep-infra/datahub/issues/1363#issuecomment-598916469
lcapy==0.96
# From https://github.com/berkeley-dsep-infra/datahub/issues/1505
Pillow==8.3.1
PyQt5==5.15.4
# From https://github.com/berkeley-dsep-infra/datahub/issues/1639
opencv-python==4.5.3.56

# For desktop environment
jupyter-desktop-server==0.1.3