jupyterlab>=2.0
notebook>=6.0
nbgitpuller==0.7.2
nbformat>=5.0.7 # https://github.com/jupyter/nbformat/issues/161
nbresuse==0.3.2

# CS 16A
# From https://github.com/berkeley-dsep-infra/datahub/issues/1363#issuecomment-598916469
numpy
matplotlib
sympy
lcapy
# From https://github.com/berkeley-dsep-infra/datahub/issues/1505
Pillow==7.*
PyQt5==5.15.*
# From https://github.com/berkeley-dsep-infra/datahub/issues/1639
opencv-python==4.3.*

# For desktop environment
jupyter-desktop-server==0.1.*

# For EECS127/227a
# See https://github.com/berkeley-dsep-infra/datahub/issues/1631
cvxpy==1.1.*
