nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.203.15.114

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21
    config:
    loadRoles:
      # datahub staff
      datahub-staff:
        description: Enable admin for datahub staff
        # this role provides permissions to...
        scopes:
          - admin-ui
          - admin:groups
          - admin:users
          - admin:servers
          - read:roles
          - read:hub
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::all-admins
      # Data 100, Spring 2024, https://github.com/berkeley-dsep-infra/datahub/issues/5376
      course-staff-1531798:
        description: Enable course staff to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1531798
          - admin:servers!group=course::1531798
          - access:servers!group=course::1531798
        # this role will be assigned to...
        groups:
          - course::1531798::group::Admins
      # Econ 148, Spring 2024, DH-225
      course-staff-1532866:
        description: Enable course staff to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1532866
          - admin:servers!group=course::1532866
          - access:servers!group=course::1532866
        # this role will be assigned to...
        groups:
          - course::1532866::group::admin

#  prePuller:
#    extraImages:
#      postgres:
#        name: gcr.io/ucb-datahub-2018/jupyterhub-postgres
#        tag: 0.0.1-n3657.h4f7f88c

  singleuser:
    defaultUrl: "/lab"
    extraEnv:
      GH_SCOPED_CREDS_CLIENT_ID: Iv1.f79b4903c7ea2847
      GH_SCOPED_CREDS_APP_URL: https://github.com/apps/data100-berkeley-datahub-access
      # Unset NotebookApp from hub/values. Necessary for recent lab versions.
      JUPYTERHUB_SINGLEUSER_APP: "jupyter_server.serverapp.ServerApp"
    nodeSelector:
      hub.jupyter.org/pool-name: data100-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 2G
      limit: 2G
    image: {}

  custom:
    group_profiles:
      # DataHub Infrastructure staff
      # https://bcourses.berkeley.edu/courses/1524699/groups#tab-80607
      course::1524699::group::all-admins:
        admin: true
        mem_limit: 4G

      # Data 100, Spring 2024, https://github.com/berkeley-dsep-infra/datahub/issues/5376
      course::1531798::group::Content: # Spring 2024 Content Team, ensured 4G RAM
        mem_limit: 4G
        mem_guarantee: 4G

      # Econ 148, Spring 2024
      course::1532866: # Temporarily grant 3G of RAM to all students
        mem_limit: 3G
        mem_guarantee: 3G

      # Econ148, Spring '24; testing shared_readwrite for groups in Eric's class
      course::1532866::group::shared_readwrite:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/econ148-readwrite
            subPath: _shared    
    admin:
      mem_guarantee: 2G
      extraVolumeMounts:
        - name: home
          mountPath: /srv/homes
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
