nfsPVC:
  enabled: true
  nfs:
    serverIP: nfsserver-01
    shareName: export/data100homes-2020-08-04/homes/prod/home

jupyterhub:
  hub:
    config:
      JupyterHub:
        authenticator_class: generic-oauth
      GenericOAuthenticator:
        login_service: bCourses
        username_key: name
      Authenticator:
        admin_users:
          # infrastructure
          - felder
          - rylo
          - yuvipanda
          - cpyles
          - balajialwar
          # instructors & gsis as per request from Dominic Liu(Spring 2022)
          - kagarwal2 
          - parthbaokar
          - andrew.lenz
          - abadrinath
          - snhing
          - grover.kanu
          - fernando.perez
          - fgeng
          - hangxingliu
          #https://github.com/berkeley-dsep-infra/datahub/issues/3198
          - yanlisa 
          - hug
#  prePuller:
#    extraImages:
#      postgres:
#        name: gcr.io/ucb-datahub-2018/jupyterhub-postgres
#        tag: 0.0.1-n3657.h4f7f88c
  singleuser:
    defaultUrl: "/lab"
    nodeSelector:
      hub.jupyter.org/pool-name: alpha-pool
    storage:
      type: static
      static:
        pvcName: home-nfs
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 4G #Revert back to previous state (guarantee: 512M and limit: 4GB) by 11/2
      limit: 4G
    image: {}

  custom:
    admin:
      mem_limit: 4096M
      mem_guarantee: 20484M
      extraVolumeMounts:
        - name: home
          mountPath: /srv/homes
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
