nfsPVC:
  enabled: true
  nfs:
    serverIP: nfsserver-01
    shareName: export/data100homes-2020-08-04/homes/prod/home

jupyterhub:
  hub:
    config:
      Authenticator:
        admin_users:
          # infrastructure
          - felder
          - rylo
          - yuvipanda
          - cpyles
          # instructors & gsis (spring 2021)
          - jegonzal
          - andrewbray
          - data100.instructors
  prePuller:
    extraImages:
      postgres:
        name: gcr.io/ucb-datahub-2018/jupyterhub-postgres
        tag: 0.0.1-n3657.h4f7f88c
  singleuser:
    extraContainers:
      - name: postgres
        image: gcr.io/ucb-datahub-2018/jupyterhub-postgres:0.0.1-n3657.h4f7f88c
        resources:
          limits:
            # Best effort only. No more than 1 CPU
            memory: 512Mi
            cpu: 1.0
          requests:
            # If we don't set requests, k8s sets requests == limits!
            memory: 64Mi
            cpu: 0.01
        env:
        - name: POSTGRES_HOST_AUTH_METHOD
          value: "trust"
        - name: POSTGRES_USER
          value: "jovyan"
        volumeMounts:
        - name: home
          mountPath: /home/jovyan
          subPath: "{username}"
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    nodeSelector:
      hub.jupyter.org/pool-name: alpha-pool
    storage:
      type: static
      static:
        pvcName: home-nfs
        subPath: "{username}"
      extraVolumes:
        - name: etc-jupyter
          configMap:
            name: user-etc-jupyter
      extraVolumeMounts:
        - name: etc-jupyter
          mountPath: /etc/jupyter
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 512M
      limit: 2G
    image:
      name: gcr.io/ucb-datahub-2018/data100-user-image

  custom:
    # this should be migrated to custom.profiles when that works
    profiles:
      # below config automatically promotes instructors/gsis to admin and demotes students
      # year-term-ccn can be found by searching for c100 in classes.berkeley.edu
      # see issue #1584 for implementation detail
      # stat c100
      # 2019-fall-24961: {}
    admin:
      mem_limit: 4096M
      mem_guarantee: 20484M
      extraVolumeMounts:
        - name: home
          mountPath: /srv/homes
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
