jupyterhub:
  ingress:
    enabled: true
    hosts:
      - data100.datahub.berkeley.edu
    tls:
      - secretName: tls-cert
        hosts:
          - data100.datahub.berkeley.edu
  proxy:
    chp:
      resources:
        requests:
          # Give data100 a lot of guaranteed CPU, prevent 503s?
          # https://github.com/berkeley-dsep-infra/datahub/issues/2677
          cpu: 1

  hub:
    resources:
      requests:
        # Give data100 a lot of guaranteed CPU, prevent 503s?
        # https://github.com/berkeley-dsep-infra/datahub/issues/2677
        cpu: 1
    db:
      pvc:
        # This also holds logs
        storage: 40Gi

    config:
      GenericOAuthenticator:
        extra_params:
          client_id: service-data100.datahub.berkeley.edu
        client_id: service-data100.datahub.berkeley.edu
        authorize_url: https://datahub.berkeley.edu/hub/api/oauth2/authorize
        token_url: https://datahub.berkeley.edu/hub/api/oauth2/token
        userdata_url: https://datahub.berkeley.edu/hub/api/user

  scheduling:
    userPlaceholder:
      enabled: false
