jupyterhub-ssh:
  hubUrl: https://workshop-staging.datahub.berkeley.edu

jupyterhub:
  scheduling:
    userScheduler:
      replicas: 1
  proxy:
  #   service:
  #     loadBalancerIP: 104.197.27.164
    https:
      hosts:
        - workshop-staging.datahub.berkeley.edu
