nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.120.80.242

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21

    config:
      Authenticator:
        admin_users:
          # infrastructure
          - balajialwar
          - felder
          - gmerritt
          - rylo
          - sknapp

          # List of other admin users
          - psudmant
          - ingolia
          - stacy-l

  custom:
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
  singleuser:
    extraFiles:
      git-credential-helper:
        mountPath: /etc/gitconfig
        stringData: |
          [credential "https://github.com"]
            helper = !git-credential-github-app --app-key-file /etc/github/github-app-private-key.pem --app-id 229235
            useHttpPath = true
      git-credential-helper-private-key:
        mountPath: /etc/github/github-app-private-key.pem
        # data in secret file




    nodeSelector:
      hub.jupyter.org/pool-name: biology-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 2056M
      limit: 4G
    cpu:
      # Biology hub users can consume quite a bit of CPU at times, starving out other
      # users on the nodes. So we reduce the max amount of CPU available to them, from 7
      # (defined in hub/values.yaml) to 4.
      limit: 4
