nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.226.58.170

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2024-05-08
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2024-05-08
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2024-05-08

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2024-05-08

    config:
    loadRoles:
      # datahub staff
      datahub-staff:
        description: Enable admin for datahub staff
        # this role provides permissions to...
        scopes:
          - admin-ui
          - admin:groups
          - admin:users
          - admin:servers
          - read:roles
          - read:hub
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::all-admins
      # biology admins
      biology-admins:
        description: Enable departmental folks to view and access all servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users
          - admin:servers
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::biology-admins
  custom:
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
    group_profiles:
      # DataHub Infrastructure staff
      # https://bcourses.berkeley.edu/courses/1524699/groups#tab-80607
      course::1524699::group::all-admins:
        mem_limit: 4096M
        mem_guarantee: 4096M

      # BioE C149, Fall 2024, https://github.com/berkeley-dsep-infra/datahub/issues/6205
      course::1537116::enrollment_type::teacher:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/bioe-c149-readwrite
            subPath: _shared/course/bioe-c149-readwrite
      course::1537116::enrollment_type::ta:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/bioe-c149-readwrite
            subPath: _shared/course/bioe-c149-readwrite
      course::1537116::enrollment_type::student:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/bioe-c149-shared
            subPath: _shared/course/bioe-c149-shared
            readOnly: true

      # MCB 201B, Fall 2024, https://github.com/berkeley-dsep-infra/datahub/issues/6255
      course::1537301::enrollment_type::teacher:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/mcb201b-shared-readwrite
            subPath: _shared/course/mcb201b-shared-readwrite
      course::1537301::enrollment_type::ta:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/mcb201b-shared-readwrite
            subPath: _shared/course/mcb201b-shared-readwrite
      course::1537301::enrollment_type::student:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/mcb201b-shared
            subPath: _shared/course/mcb201b-shared
            readOnly: true

  singleuser:
    extraEnv:
      # Unset NotebookApp from hub/values. Necessary for recent lab versions.
      JUPYTERHUB_SINGLEUSER_APP: "jupyter_server.serverapp.ServerApp"
    extraFiles:
      # DH-305
      remove-exporters:
        mountPath: /etc/jupyter/jupyter_notebook_config.py
        stringData: |
          c.QtPDFExporter.enabled = False
          c.QtPNGExporter.enabled = False
          c.WebPDFExporter.embed_images = True
      git-credential-helper:
        mountPath: /etc/gitconfig
        stringData: |
          [credential "https://github.com"]
            helper = !git-credential-github-app --app-key-file /etc/github/github-app-private-key.pem --app-id 229235
            useHttpPath = true
      git-credential-helper-private-key:
        mountPath: /etc/github/github-app-private-key.pem
        # data in secret file




    nodeSelector:
      hub.jupyter.org/pool-name: biology-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 2056M
      limit: 4G
    cpu:
      # Biology hub users can consume quite a bit of CPU at times, starving out other
      # users on the nodes. So we reduce the max amount of CPU available to them, from 7
      # (defined in hub/values.yaml) to 4.
      limit: 4
