nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.185.238.42

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-07-11
    config:
    loadRoles:
      # datahub staff
      datahub-staff:
        description: Enable admin for datahub staff
        # this role provides permissions to...
        scopes:
          - admin-ui
          - admin:groups
          - admin:users
          - admin:servers
          - read:roles
          - read:hub
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::all-admins
      # astro admins
      astro-admins:
        description: Enable departmental folks to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::N
          - admin:servers!group=course::N
          - access:servers!group=course::N
        # this role will be assigned to...
        groups:
          - course::1524699::group::astro-admins
  singleuser:
    nodeSelector:
      hub.jupyter.org/pool-name: astro-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 1024M
      limit: 4096M

  # read by z2jh.get_config() in hub/values.yaml
  # formerly jupyterhub.hub.extraConfigMap
  custom:
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared-readwrite
          subPath: _shared
