nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.49.181.18

etcGitConfig:
  enabled: true
  gitconfig: |
    [credential "https://github.com"]
      helper = !git-credential-github-app --app-key-file /etc/github/github-app-private-key.pem --app-id 94386
      useHttpPath = true

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
  proxy:
    service:
      type: ClusterIP
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-07-11
    config:
      Authenticator:
        admin_users:
          # infrastructure
          - balajialwar
          - felder
          - gmerritt
          - rylo
          - sknapp

          # List of other admin users

  singleuser:
    nodeSelector:
      hub.jupyter.org/pool-name: r-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumes:
        - name: etc-gitconfig
          secret:
            secretName: user-etc-gitconfig
      extraVolumeMounts:
        - name: etc-gitconfig
          mountPath: /etc/gitconfig
          subPath: gitconfig
          readOnly: true
        - name: etc-gitconfig
          mountPath: /etc/github/github-app-private-key.pem
          subPath: github-app-private-key.pem
          readOnly: true
        # RStudio can't write session files to anywhere except ~/.rstudio -
        # only way to change that is by setting $HOME. So instead, we just
        # bind mount a fresh directory on top of ~/.rstudio!
        - name: home
          mountPath: /home/jovyan/.rstudio
          subPath: '{username}/.r-hub-rstudio'
    defaultUrl: "/rstudio"
    memory:
      guarantee: 512M
      limit: 1G
    image: {}

    custom:
      group_profiles:
        course::1527100: # ESPM 157, Fall 2023, issue #4822
          mem_limit: 4096M
          mem_guarantee: 4096M
