# Calculate size of node placeholder by:
# 1. Select a node in the node pool you want to configure
#    export NODE=<node-name>
# 2. Get total amount of memory allocatable to pods on this node
#    k get node $NODE -o jsonpath='{.status.allocatable.memory}'
# 3. Get total amount of memory used by non-user pods on the node.
#    k get -A pod -l 'component!=user-placeholder' --field-selector spec.nodeName=$NODE -o jsonpath='{.items[*].spec.containers[*].resources.requests.memory}'
#    This will return memory units you'll need to sum yourself
#
# The node placeholder pod should be 'big' enough that it needs to be kicked out to get even a single
# user pod on the node - but not so big that it can't run on a node where other system pods are running!
#
# So we should make the memory be output of (2) - output of (3), with maybe another 256Mi wiggle room
# FIXME: LET US MAKE THIS INTO A SCRIPT!
enabled: true
nodePools:
  alpha:
    nodeSelector:
      hub.jupyter.org/pool-name: alpha-pool
    resources:
      requests:
        memory: 46786Mi
    nodes: 1
  beta:
    nodeSelector:
      hub.jupyter.org/pool-name: beta-pool
    resources:
      requests:
        memory: 46786Mi
    nodes: 1
  gamma:
    nodeSelector:
      hub.jupyter.org/pool-name: gamma-pool
    resources:
      requests:
        memory: 46786Mi
    nodes: 0