nbgitpuller==0.7.2
datascience==0.15.4
matplotlib==3.0.2
pandas==0.23.4
scipy==1.2.0
nbresuse==0.3.2
nbforms==0.5.1
numpy==1.16.0
# For grading
git+https://github.com/ucbds-infra/Gofer-Grader.git@1bacb7a
gofer-submit==0.3
