#
# data8; foundation
datascience==0.10.1
matplotlib==2.0.0
numpy==1.12.1
pandas==0.19.2
scipy==0.19.1
statsmodels==0.8.0
okpy==1.12.5
#
# ls 88-3; neuro
nbserverproxy==0.2.0
lxml==3.8.0
tqdm==4.15.0
mne==0.14.1
nibabel==2.1.0
h5py==2.7.0
pillow==4.2.1
numexpr==2.6.4
#
# cogsci88; 
ggplot==0.11.5
#
# ls 88-5; text
gensim==2.3.0
nltk==3.2.4
beautifulsoup4==4.6.0
spacy==1.9.0
geopy==1.11.0
#
# Modules
scikit-learn==0.19.0
seaborn==0.8.0
bokeh==0.12.6
decorator==4.1.2
networkx==1.11
#
# phys 151;
emcee==2.2.1
#
