# https://docs.conda.io/projects/conda-build/en/latest/resources/package-spec.html#examples
# For conda, == is exact constraint, while = is fuzzy constraint.
# pip uses https://peps.python.org/pep-0440/ which does not have =.

dependencies:
- nodejs=16.*
- traitlets=5.9.*
- pip=22.2.*
- python=3.9.*

- syncthing==1.18.6

# pymc3 needs this
- mkl-service=2.4.*

# Base scientific packages that other conda packages we install depend on
# We don't want to have conda packages depend on pip packages if possible
- numpy=1.22.*
- matplotlib=3.7.*
- scipy=1.10.0
- ipympl=0.9.*
- pandas=1.3.*
- statsmodels=0.13.5
- scikit-learn=1.1.1
- seaborn=0.11.*
- bokeh=2.3.*
- decorator=5.0.*
- networkx=2.6.*
- spacy=3.4.1
- nltk=3.6.*

# 3577, L&S 22, Spring 2023
- spacy-model-en_core_web_sm=3.4.0
- spacy-model-en_core_web_lg=3.4.0
- spacy-model-en_core_web_md=3.4.0
- spacy-model-en_core_web_trf=3.4.0
- lemminflect=0.2.2

# EPS88, data100
# https://github.com/berkeley-dsep-infra/datahub/issues/1796
# https://github.com/berkeley-dsep-infra/datahub/issues/2824
- shapely==1.8.0
- cartopy==0.22.0

# ls 88-3; neuro
- pillow=8.3.*

# music 30, spring 2022, https://github.com/berkeley-dsep-infra/datahub/issues/3180
- pysoundfile==0.10.3.post1

# ds100, spring 2022, #3208
- python-kaleido==0.2.1

# https://github.com/berkeley-dsep-infra/datahub/issues/3305, spring 2022
- fenics==2019.1.0
- mshr==2019.1.0

# https://github.com/berkeley-dsep-infra/datahub/issues/3324, spring 2022
- gdown==4.4.0

# LBL summer research internship in materials informatics. Jupyter Book curriculum at https://enze-chen.github.io/mi-book/
- pymatgen==2023.10.4
- matminer=0.9.0

# Econ 148, Spring 2023, https://github.com/berkeley-dsep-infra/datahub/issues/4067
- ipykernel = 6.19.4

# Econ 148, Spring 2023 https://github.com/berkeley-dsep-infra/datahub/issues/4251
- sqlalchemy==1.4.46

# UGBA88 Fall 2023, https://github.com/berkeley-dsep-infra/datahub/issues/5019
- pymysql==1.1.0

# MUSIC 30, https://github.com/berkeley-dsep-infra/datahub/issues/5047
- music21==8.3.0

# data8; foundation
- datascience==0.17.6

- jupyter-server-proxy==3.2.1
- jupyter-rsession-proxy==2.0.1

- folium==0.12.1.post1

# cogsci131; spring 2018
- nose==1.3.7

# modules
- beautifulsoup4==4.9.3

# PS88 https://github.com/berkeley-dsep-infra/datahub/issues/2925
- linearmodels==4.27

# JupyterLab pypi extensions
- jupyterlab-geojson==3.1.2

# INDENG 142 Spring 2021 (future semesters as well) - https://github.com/berkeley-dsep-infra/datahub/issues/2314
- fancyimpute==0.7.0

# ESPM 167 - https://github.com/berkeley-dsep-infra/datahub/issues/2278
- contextily==1.1.0

# EPS 256, https://github.com/berkeley-dsep-infra/datahub/issues/1775
- obspy==1.3.0

# error converting to PDF https://github.com/berkeley-dsep-infra/datahub/issues/5062
- nbconvert[webpdf]

# eep 153; spring 2024
- requests==2.31.0
- Pint==0.17

# eps 109; fall 2024
- ffmpeg-python==0.2.0

# issue #875, global 150Q/pacs 190 - fall 2024
- wordcloud==1.8.1

# issue #929, SW 282 - fall 2024
- pyreadstat==1.1.2

# issue 954, EPS24 - fall 2019
# balaji to confirm is this is still being taught
- xarray==0.19.0

# issue 1001, Physics 188/288 - fall 2024
- umap-learn==0.5.1
- hdbscan==0.8.33
- getdist==1.3.1
- tensorflow-hub==0.12.0
- tensorflow-probability==0.22.1

# espm 125/bio 105; fall 2022
# see https://github.com/berkeley-dsep-infra/datahub/issues/1796
# balaji to confirm if this is still being taught
- bitarray==2.3.0

# ds198 mch infodemiology, fall 2020/spring 2021
# google apis
# balaji to check
- google-api-python-client==2.15.0
- google-auth-httplib2==0.1.0
- google-auth-oauthlib==0.4.5
- google==3.0.0

# issue 1847; LS 22 spring 2021
# balaji to reach out and confirm it's being taught SP24
- python-graphviz==0.17

# issue #1903, data h195A fall 2020+
# still required according to ericvd
- habanero==0.7.4

# https://github.com/berkeley-dsep-infra/datahub/issues/2950
# Needed to work with a new enough version of httplib2
- httplib2>=0.20.2

# Used by MCB32, but incompatible with ipywidgets 8.x
- qgrid==1.3.1

- pip:
  - -r /tmp/infra-requirements.txt

  # Google spreadsheets, Eric Van Dusen / Keeley Takimoto / Modules
  # latest versions in pypi, not conda :(
  - gspread-pandas==2.3.0
  - gspread==4.0.1

  # issue 1001, Physics 188/288 - fall 2024
  - getdist==1.3.1

  # ds198 mch infodemiology, fall 2020/spring 2021
  # google apis
  # balaji to check
  - google==3.0.0

  # Econ 148, Spring 2023 https://github.com/berkeley-dsep-infra/datahub/issues/4093
  - pycountry-convert==0.7.2
  #
  # Former contents of requirements.txt
  # Some things were moved up to conda above.
  #
  # Until https://github.com/okpy/ok-client/pull/473 is merged
  # - git+https://github.com/yuvipanda/ok-client@6961d778741fe61911be4d00beff9bd8afc1edf7
  - okpy
  #
  - jupyter-shiny-proxy==1.1
  #
  # nb2pdf==0.6.2 commented out by sknapp 06.10.2023 to unblock https://github.com/berkeley-dsep-infra/datahub/issues/5062
  #

  # espm 125/bio 105; fall 2022
  # see https://github.com/berkeley-dsep-infra/datahub/issues/1796
  # balaji to confirm if this is still being taught
  - nlmpy==1.0.1

  # cs16A/B, spring 2020
  - lcapy==0.96

  # prob140 2021 Spring
  # sknapp 2023-12-15:  we will eventually move prob140 back to datahub in FA24
  # https://jira-secure.berkeley.edu/browse/DH-203
  # - prob140==0.4.1.5
  # - sympy==1.8

  # IB 105 / ESPM 125, Fall 2021 - https://github.com/berkeley-dsep-infra/datahub/issues/2696
  - geonomics==1.3.0
