dependencies:
- nodejs=15.*
- pip=20.2.*
- python=3.9.*

- syncthing==1.18.6

# pymc3 needs this
- mkl-service=2.4.*

# Base scientific packages that other conda packages we install depend on
# We don't want to have conda packages depend on pip packages if possible
- numpy=1.21.*
- matplotlib=3.4.*
- scipy=1.7.*
- ipympl=0.8.*
- pandas=1.3.*
- statsmodels=0.12.*
- scikit-learn=0.24.*
- seaborn=0.11.*
- bokeh=2.3.*
- decorator=5.0.*
- networkx=2.6.*
- spacy=3.1.*
- nltk=3.6.*

# EPS88, data100
# https://github.com/berkeley-dsep-infra/datahub/issues/1796
# https://github.com/berkeley-dsep-infra/datahub/issues/2824
- shapely=1.8.*
- cartopy=0.20.*

# ls 88-3; neuro
- pillow=8.3.*

# music 30, spring 2022, #3180
- pysoundfile==0.10.3.post1

# ds100, spring 2022, #3208
- python-kaleido==0.2.1
