etcGitConfig:
  enabled: true
  gitconfig: |
    [credential "https://github.com"]
      helper = !git-credential-github-app --app-key-file /etc/github/github-app-private-key.pem --app-id 131611
      useHttpPath = true

nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.204.227.122

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21

  hub:
    loadRoles:
      # PH 142, Fall 2023, https://github.com/berkeley-dsep-infra/datahub/issues/4860     
      course-staff-1527948:
        description: Enable course staff to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1527948
          - admin:servers!group=course::1527948
          - access:servers!group=course::1527948
        # this role will be assigned to...
        groups:
          - course::1527948::enrollment_type::teacher
          - course::1527948::enrollment_type::ta
      # PHW 251, Fall 2023, https://github.com/berkeley-dsep-infra/datahub/issues/4995  
      course-staff-1525339:
        description: Enable course staff to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1525339
          - admin:servers!group=course::1525339
          - access:servers!group=course::1525339
        # this role will be assigned to...
        groups:
          - course::1525339::enrollment_type::teacher
          - course::1525339::enrollment_type::ta

    extraConfig:
      # Use 1x-<title> in `common.yaml` extraConfig values.
      # We want these to come *after* the extraConfig values
      # in `values.yaml`. Since these are ordered alphabetically,
      # 1x-<title> used in `common.yaml` will come after
      # 0x-<title> used in `values.yaml` - so config set here
      # will override config set in `values.yaml`
      11-working-dir: |
        # Rocker based images have 'rstudio' as user id 1000
        # so let's stick to that, and use /home/${NB_USER}
        # consistently.
        c.KubeSpawner.working_dir = '/home/rstudio'
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21
    config:
      Authenticator:
        admin_users:
          # infrastructure
          - balajialwar
          - felder
          - gmerritt
          - rylo
          - sknapp

  singleuser:
    defaultUrl: /rstudio

    nodeSelector:
      hub.jupyter.org/pool-name: publichealth-pool
    storage:
      # Rocker based images have 'rstudio' as user $1000
      # so let's stick to that, and use /home/${NB_USER}
      # consistently.
      homeMountPath: /home/rstudio
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumes:
        - name: etc-gitconfig
          secret:
            secretName: user-etc-gitconfig
      extraVolumeMounts:
        - name: etc-gitconfig
          mountPath: /etc/gitconfig
          subPath: gitconfig
          readOnly: true
        - name: etc-gitconfig
          mountPath: /etc/github/github-app-private-key.pem
          subPath: github-app-private-key.pem
          readOnly: true
    memory:
      guarantee: 512M
      limit: 1G

  custom:
    group_profiles:
      # https://bcourses.berkeley.edu/courses/1524699/groups#tab-80607
      course::1524699::group::all-admins:
        admin: true
