channels:
- conda-forge

# Almost all libraries should be added in requirements.txt
# Only libraries *not* available in PyPI should be here
dependencies:
- python=3.9.*
#adding math functionality 
- matplotlib=3.7.*
- scipy=1.10.*
- mpld3=0.5.*

# Needed for linux desktop environment
- websockify=0.11.0

- qgis=3.22.*

# Maybe needed for qgis? https://github.com/conda-forge/qgis-feedstock/issues/263
- pyopencl=2023.1

- pip
- pip:
# For desktop environment
  - jupyter-desktop-server==0.1.3
  - -r infra-requirements.txt
  - otter-grader==3.1.4  
  # for notebook exporting
  - nbconvert==7.6.0
  - nb2pdf==0.6.2
  - nbpdfexport==0.2.1
