nfsPVC:
  nfs:
    shareName: export/edxhomes-2023-08-28/staging
jupyterhub:
  prePuller:
    continuous:
      enabled: false
  proxy:
    service:
      loadBalancerIP: 34.135.56.190
    https:
      hosts:
        - edx-staging.datahub.berkeley.edu
  hub:
    services:
      otter_grade:
        url: http://grader-srv-staging.datahub.berkeley.edu:10101
