nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.185.238.42

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21
    config:
      Authenticator:
        admin_users:
          # infrastructure
          - balajialwar
          - felder
          - gmerritt
          - rylo
          - sknapp

          # List of other admin users

  singleuser:
    defaultUrl: /desktop
    nodeSelector:
      hub.jupyter.org/pool-name: cee-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
    memory:
      # Give them more resources as linux desktop is primary used here
      guarantee: 2G
      limit: 4G
