nfsPVC:
  nfs:
    shareName: staging/cee/staging

jupyterhub:
  scheduling:
    userScheduler:
      replicas: 1
  prePuller:
    continuous:
      enabled: false
  ingress:
    enabled: true
    hosts:
      - cee-staging.datahub.berkeley.edu
    tls:
      - secretName: tls-cert
        hosts:
          - cee-staging.datahub.berkeley.edu
