nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.247.79.74

jupyterhub:
  custom:
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /srv/homes

  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21
    config:
      #Authenticator:
      #  admin_users:
      #    # infrastructure
      #    - balajialwar
      #    - felder
      #    - gmerritt
      #    - rylo
      #    - sknapp
    loadRoles:
      # Data 8, Summer 2023
      course-staff-1525580:
        description: Enable course staff to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1525580
          - admin:servers!group=course::1525580
          - access:servers!group=course::1525580
        # this role will be assigned to...
        groups:
          - course::1525580::enrollment_type::teacher
          - course::1525580::enrollment_type::ta

  singleuser:
    nodeSelector:
      hub.jupyter.org/pool-name: data8-pool
    defaultUrl: /retro
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
    cpu:
      # https://github.com/berkeley-dsep-infra/datahub/issues/2966
      guarantee: 0.05
      limit: 1
    memory:
      guarantee: 1G
      limit: 1G

  custom:
    group_profiles:

      # DataHub Infrastructure staff
      # https://bcourses.berkeley.edu/courses/1524699/groups#tab-80607
      course::1524699::group::all-admins:
        admin: true

  #    # Data 8, Summer 2023
  #    # 20230710: commented out in favor of loadRoles above
  #    course::1525580::enrollment_type::teacher:
  #      admin: true
  #    course::1525580::enrollment_type::ta:
  #      admin: true
