nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.247.79.74

jupyterhub:
  custom:
    group_profiles:
      # DataHub Infrastructure staff
      # https://bcourses.berkeley.edu/courses/1524699/groups#tab-80607
      course::1524699::group::all-admins:
        admin: true
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /srv/homes

  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2024-05-08
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2024-05-08
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2024-05-08

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2024-05-08
    config:
    loadRoles:
      # datahub staff
      datahub-staff:
        description: Enable admin for datahub staff
        # this role provides permissions to...
        scopes:
          - admin-ui
          - admin:groups
          - admin:users
          - admin:servers
          - read:roles
          - read:hub
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::all-admins
      ## Data 8, Spring 2024
      #course-staff-N:
      #  description: Enable course staff to view and access servers.
      #  # this role provides permissions to...
      #  scopes:
      #    - admin-ui
      #    - list:users!group=course::N
      #    - admin:servers!group=course::N
      #    - access:servers!group=course::N
      #  # this role will be assigned to...
      #  groups:
      #    - course::N::enrollment_type::teacher
      #    - course::N::enrollment_type::ta

      # Data 8, Summer 2024, https://github.com/berkeley-dsep-infra/datahub/issues/5834
      course-staff-1535365:
      #  description: Enable course staff to view and access servers.
      #  # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1535365
          - admin:servers!group=course::1535365
          - access:servers!group=course::1535365
      #  # this role will be assigned to...
        groups:
          - course::1535365::enrollment_type::teacher
          - course::1535365::enrollment_type::ta

  singleuser:
    extraFiles:
      # DH-216 Removing QtPDF, QtPNG as per Data 8 GSI inputs
      remove-exporters:
        mountPath: /etc/jupyter/jupyter_notebook_config.py
        stringData: |
          c.QtPDFExporter.enabled = False
          c.QtPNGExporter.enabled = False
          c.WebPDFExporter.enabled = False
    extraEnv:
      # Unset NotebookApp from hub/values. Necessary for recent lab versions.
      JUPYTERHUB_SINGLEUSER_APP: "jupyter_server.serverapp.ServerApp"
    nodeSelector:
      hub.jupyter.org/pool-name: data8-pool
    defaultUrl: /tree
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
    cpu:
      # https://github.com/berkeley-dsep-infra/datahub/issues/2966
      guarantee: 0.05
      limit: 1
    memory:
      guarantee: 1G
      limit: 1G
