nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.247.79.74

jupyterhub:
  custom:
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /srv/homes

  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool
    config:
      Authenticator:
        admin_users:
          # infrastructure
          - balajialwar
          - felder
          - gmerritt
          - rylo
          - sknapp
    custom:
      group_profiles:
        course::1525580::enrollment_type::teacher:
          admin: true
        course::1525580::enrollment_type::ta:
          admin: true

  singleuser:
    nodeSelector:
      hub.jupyter.org/pool-name: data8-pool
    defaultUrl: /retro
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
    cpu:
      # https://github.com/berkeley-dsep-infra/datahub/issues/2966
      guarantee: 0.05
      limit: 1
    memory:
      guarantee: 512M
      limit: 1G
