nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.240.85.114

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21
  proxy:
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-12-21

  hub:
    extraConfig:
      # Use 1x-<title> in `common.yaml` extraConfig values.
      # We want these to come *after* the extraConfig values
      # in `values.yaml`. Since these are ordered alphabetically,
      # 1x-<title> used in `common.yaml` will come after
      # 0x-<title> used in `values.yaml` - so config set here
      # will override config set in `values.yaml`
      11-working-dir: |
        # Rocker based images have 'rstudio' as user id 1000
        # so let's stick to that, and use /home/${NB_USER}
        # consistently.
        c.KubeSpawner.working_dir = '/home/rstudio'
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-12-21
    config:
    loadRoles:
      # datahub staff
      datahub-staff:
        description: Enable admin for datahub staff
        # this role provides permissions to...
        scopes:
          - admin-ui
          - admin:groups
          - admin:users
          - admin:servers
          - read:roles
          - read:hub
          - access:servers
        # this role will be assigned to...
        groups:
          - course::1524699::group::all-admins

  singleuser:
    extraFiles:
      # DH-164
      remove-exporters:
        mountPath: /etc/jupyter/jupyter_notebook_config.py
        stringData: |
          c.QtPDFExporter.enabled = False
          c.QtPNGExporter.enabled = False
          c.WebPDFExporter.enabled = False
    extraEnv:
      # Unset NotebookApp from hub/values. Necessary for recent lab versions.
      JUPYTERHUB_SINGLEUSER_APP: "jupyter_server.serverapp.ServerApp"
    nodeSelector:
      hub.jupyter.org/pool-name: stat20-pool
    defaultUrl: /rstudio
    storage:
      # Rocker based images have 'rstudio' as user $1000
      # so let's stick to that, and use /home/${NB_USER}
      # consistently.
      homeMountPath: /home/rstudio
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /opt/shared
          subPath: _shared
          readOnly: true
    memory:
      guarantee: 1024M
      limit: 2048M

  custom:
    admin:
      extraVolumeMounts:
        - name: home
          mountPath: /opt/shared-readwrite
          subPath: _shared
