-r infra-requirements.txt

# Issue #880, for PHW250FG and PH142 - Fall 2019
okpy==1.14.15

# Issue #1222, for PH 142 - Spring 2020
PyPDF2==1.26.0

# Issue #1239, for PH 142 - Spring 2020
requests==2.22.0

# Econ 140 - Fall 2020
otter-grader==1.0.0
