nfsPVC:
  enabled: true
  nfs:
    serverIP: nfsserver-01
    shareName: export/homedirs-other-2020-07-29/eecs

jupyterhub:
  cull:
    # For some reason, EECS hub users don't cull properly
    # Empty abandoned sessions stay on for days
    # This stops users after they have been running for 12+ hours
    # in one go. In several weeks of looking at user pods older
    # than this, none have been active.
    maxAge: 43200 # 12h
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool
  proxy:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool

  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool

    condig:
      Authenticator:
        admin_users:
          # infrastructure
          - rylo
          - yuvipanda
          - felder
          # List of other admin users
          # ISG Staff
          - finsen
          - lindah
          # EECS16A - Retain till the end of Fall 2020
          - lakabuli
          - Quizenger
          - onibrow
          - panzarkos
          - sweismann
          - gracekuo01
          - urmita
          - neeleshkr
          - msswn
          - dsaba123
          - dshika14
          - dixun-cui
          - miyukiweldon
          - mbharadwaj13
          - lilybhattacharjee5
          - spencerkent
          - rohansood10
          - christosadamo
          - boosoba

  singleuser:
    extraEnv:
      # Until https://github.com/betatim/vscode-binder/pull/19 is merged
      CODE_WORKINGDIR: /home/jovyan
      # Tell code where to display GUIs
      # The VNC /desktop link must be opened already for this to work
      DISPLAY: ":1.0"
    defaultUrl: "/lab"
    nodeSelector:
      hub.jupyter.org/pool-name: gamma-pool
    storage:
      type: static
      static:
        pvcName: home-nfs
        subPath: "{username}"
    memory:
      guarantee: 512M
      limit: 2G
    cpu:
      # Limit EECS users to 1 CPU
      # They had a lab running that used a lot of CPU.
      # It's over, but students might still end up running high
      # CPU tasks, causing issues for other students. This should
      # hopefully prevent users from stomping on users from other
      # hubs on the same nodes
      limit: 1
      # Set tiny request to prevent k8s from setting limit == request
      guarantee: 0.01
    image:
      name: gcr.io/ucb-datahub-2018/eecs-user-image
