nfsPVC:
  enabled: true
  nfs:
    serverIP: 10.49.181.18

etcGitConfig:
  enabled: true
  gitconfig: |
    [credential "https://github.com"]
      helper = !git-credential-github-app --app-key-file /etc/github/github-app-private-key.pem --app-id 94384
      useHttpPath = true

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
  hub:
    config:
      Authenticator:
        auto_login_oauth2_authorize: True
        admin_users:
          # infrastructure
          - balajialwar
          - felder
          - gmerritt
          - rylo
          - sknapp

          # regular instructors
          - adhikari
          - culler
          - daw
          - denero
          - ramesh_s
          - suraj.rampure
          - swupnil
          - terry.regier
          # dsep staff
          - ericvd
          - ktakimoto
          - ryanedw
          #As per the request from David Broockman (Political Science Instructor)
          - broockman
          - castro.ian
          #As per the request from James Sears (Environmental Econ GSI) - https://github.com/berkeley-dsep-infra/datahub/issues/3229
          - lenjb
    loadRoles:
      # Haas 247, Fall 2023
      course-staff-1524846:
        description: Enable course staff to view and access servers.
        # this role provides permissions to...
        scopes:
          - admin-ui
          - list:users!group=course::1524846
          - admin:servers!group=course::1524846
          - access:servers!group=course::1524846
        # this role will be assigned to...
        groups:
          - course::1524846::enrollment_type::teacher
          - course::1524846::enrollment_type::ta
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool-2023-07-11
    initContainers:
      # There's another sidecar, specified in `secrets/staging.yaml` and `secrets/prod.yaml`
      # that keeps this up to date. https://github.com/jupyterhub/kubespawner/issues/468
      # should help us move that back here.
      - name: templates-clone
        image: alpine/git
        args:
          - clone
          - --depth=1
          - --single-branch
          - --
          - https://github.com/berkeley-dsep-infra/datahub-homepage
          - /srv/repo
        securityContext:
          runAsUser: 1000
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        volumeMounts:
          - name: custom-templates
            mountPath: /srv/repo
    extraVolumes:
      - name: custom-templates
        emptyDir: {}
    extraVolumeMounts:
      - mountPath: /usr/local/share/jupyterhub/custom_templates
        name: custom-templates
        subPath: "templates"
      - mountPath: /usr/local/share/jupyterhub/static/extra-assets
        name: custom-templates
        subPath: "extra-assets"
    extraConfig:
      04-custom-theme: |
        c.JupyterHub.template_paths = ['/usr/local/share/jupyterhub/custom_templates/']

  proxy:
    service:
      type: LoadBalancer
    chp:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
    traefik:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool-2023-07-11
  singleuser:
    nodeSelector:
      hub.jupyter.org/pool-name: datahub-pool
    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumes:
        - name: etc-gitconfig
          secret:
            secretName: user-etc-gitconfig
      extraVolumeMounts:
        - name: etc-gitconfig
          mountPath: /etc/gitconfig
          subPath: gitconfig
          readOnly: true
        - name: etc-gitconfig
          mountPath: /etc/github/github-app-private-key.pem
          subPath: github-app-private-key.pem
          readOnly: true
        # RStudio can't write session files to anywhere except ~/.rstudio -
        # only way to change that is by setting $HOME. So instead, we just
        # bind mount a fresh directory on top of ~/.rstudio!
        - name: home
          mountPath: /home/jovyan/.rstudio
          subPath: '{username}/.datahub-rstudio'
    memory:
      guarantee: 512M
      limit: 1G
    image: {}

    storage:
      type: static
      static:
        pvcName: home-nfs-v3
        subPath: "{username}"
      extraVolumeMounts:
        - name: home
          mountPath: /home/jovyan/shared
          subPath: _shared
          readOnly: true

  custom:
    group_profiles:
      # DataHub Infrastructure staff
      # https://bcourses.berkeley.edu/courses/1524699/groups#tab-80607
      course::1524699::group::all-admins:
        admin: true
      # MBA 247, Fall 2023
      course::1524846::enrollment_type::teacher:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/mba-247-readwrite
            subPath: _shared/course/mba-247
      course::1524846::enrollment_type::ta:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/mba-247-readwrite
            subPath: _shared/course/mba-247
      course::1524846::enrollment_type::student:
        extraVolumeMounts:
          - name: home
            mountPath: /home/jovyan/mba-247
            subPath: _shared/course/mba-247
            readOnly: true
