nfsPVC:
  enabled: true
  nfs:
    serverIP: nfsserver1
    shareName: export/pool0/homes

jupyterhub:
  scheduling:
    userScheduler:
      nodeSelector:
        hub.jupyter.org/pool-name: core-pool
  hub:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool
    extraConfig:

      09-lab-availability: |
        # Overrides values.yaml, until jupyterlab is upgraded in other hubs
        # See #1468
        c.Spawner.cmd = ['jupyterhub-singleuser']
    extraConfigMap:
      # this should be migrated to custom.profiles when that works
      profiles:
        # compsci c8
        2019-fall-28063: {}
        # pbhlth w250f
        2019-fall-29639: {}
        # pbhlth w250g
        2019-fall-29640: {}
        # linguis 243
        2019-fall-31002: {}
        # data 88
        2019-fall-33469: {}
        # astr 128
        2020-spring-24268:
          mem_limit: 4096M
          mem_guarantee: 1024M
        # astr 256
        2020-spring-24536:
          mem_limit: 4096M
          mem_guarantee: 1024M
        # ARESEC 212
        2020-spring-25937:
          mem_limit: 4096M
          mem_guarantee: 1024M
        # physics 188
        2019-fall-32821:
          mem_limit: 2048M
          mem_guarantee: 1024M
        modules-leads:
          users:
            - yuvipanda
            - ktakimoto
            - ericvd
            - jasonjiang
            - alec.kan
            - eesaravia
            - almapineda
            - m.wilkinson
            - schaganty
            - timlan.wong
          extraVolumes:
            - name: shared
              hostPath:
                path: /data/homes/prod/_shared/module-leads
          extraVolumeMounts:
            - name: shared
              mountPath: /home/jovyan/shared/module-leads
  proxy:
    nodeSelector:
      hub.jupyter.org/pool-name: core-pool
  auth:
    type: custom # This enables canvas auth
    admin:
      users:
          # infrastructure
          - felder
          - rylo
          - yuvipanda
          # regular instructors
          - adhikari
          - culler
          - daw
          - denero
          - ramesh_s
          - swupnil
          # dsep staff
          - ericvd
          - ktakimoto
          - ryanedw
          # sp20 data8 gsis
          - ananya.krishnan
          - vienannguyen
          - austenzhu
          - averyyip
          - mayarao
          - ravi.singhal
          - narain.rohan
          - samwu101
          - scott.lee.3898
          - tvilayth
          - yanayrosen
          - adele.bloch
          - aidandeangelis
          - alanliang
          - guanangela
          - anna.burns
          - ashleyquiterio
          - carolinejchen
          - colbylewis2020
          - emilykzou
          - gregoryd2017
          - gregking22
          - hubertluo
          - castro.ian
          - irenerwang
          - jifu.li
          - juliannnguyen
          - katherinetsai
          - keh7
          - lillianlouie
          - lritter
          - olivialewke
          - oscar.syu
          - parouz
          - roshansrin01
          - saurav
          - yashswarup
          - youmnarabie
          - aanika.shah
          - alvinyu27
          - devennb
          - gnacouzi
          - ssingorahardjo
          - vikramchandran
          - winifredchung
          # sp20 data8 tutors
          - zhoa210
          - brettirvin
          - celinechen_99
          - chloelo
          - dshahroz
          - deveshagarwal
          - nellepersson
          - erika.n.mack
          - eshaansoman
          - vaibhav.pabreja
          - fachacoso
          - fqzbdkh
          - ikaur
          - jacobmartinez
          - jenniferjia00
          - kwalia1999
          - karywang
          - marmis
          - meghanwang
          - melissarwong
          - nancywang
          - nicholesun
          - nhanafi
          - pratibha99
          - netzke
          - rdoshi99
          - sophiatan
          - sunnyshen
          - rikiiyer
          - jinhao.huo
          - anujalohia
          - wseward
          - alicechen295
          - ritawang
          - jacquelinekyu
          - nataliegomas
          - ryanchien04
          - sydniezanone
          - kevinmiao
          - tongshen
  singleuser:
    nodeSelector:
      hub.jupyter.org/pool-name: gamma-pool
    storage:
      type: static
      static:
        pvcName: home-nfs
        subPath: "{username}"
      extraVolumes:
        - name: etc-jupyter
          configMap:
            name: user-etc-jupyter
      extraVolumeMounts:
        - name: etc-jupyter
          mountPath: /etc/jupyter
    memory:
      guarantee: 512M
      limit: 1G
    image:
      name: gcr.io/ucb-datahub-2018/primary-user-image

custom:
  wtf: "why isn't this passed to config/values.yaml"

# read by z2jh.get_config() in hub/values.yaml
# (theoretically!)
# custom:
#   profiles:
#     # compsci c8
#     2019-fall-28063: {}
#     # pbhlth w250f
#     2019-fall-29639: {}
#     # pbhlth w250g
#     2019-fall-29640: {}
