jupyterhub:
  proxy:
    service:
      loadBalancerIP: 35.232.190.188
    https:
      hosts:
        - datahub.berkeley.edu
  hub:
    db:
      pvc:
        # This also holds logs
        storage: 40Gi
  scheduling:
    userPlaceholder:
      enabled: true
      replicas: 60
