jupyterhub:
  proxy:
    service:
      loadBalancerIP: 35.232.190.188
    https:
      hosts:
        - datahub.berkeley.edu
  hub:
    services:
      data8.datahub.berkeley.edu:
        name: data8.datahub.berkeley.edu
        oauth_redirect_uri: https://data8.datahub.berkeley.edu/hub/oauth_callback
      ischool.datahub.berkeley.edu:
        name: ischool.datahub.berkeley.edu
        oauth_redirect_uri: https://ischool.datahub.berkeley.edu/hub/oauth_callback
      publichealth.datahub.berkeley.edu:
        name: publichealth.datahub.berkeley.edu
        oauth_redirect_uri: https://publichealth.datahub.berkeley.edu/hub/oauth_callback
    db:
      pvc:
        # This also holds logs
        storage: 80Gi
    resources:
      requests:
        # DataHub often takes up a full CPU now, so let's guarantee it at least that
        cpu: 1
        memory: 1Gi
      limits:
        memory: 2Gi
  scheduling:
    userPlaceholder:
      enabled: false
