jupyterhub-ssh:
  hubUrl: https://datahub.berkeley.edu

jupyterhub:
  proxy:
    service:
      loadBalancerIP: 35.232.190.188
    https:
      hosts:
        - datahub.berkeley.edu
  hub:
    db:
      pvc:
        # This also holds logs
        storage: 40Gi
    resources:
      requests:
        # DataHub often takes up a full CPU now, so let's guarantee it at least that
        cpu: 1
        memory: 1Gi
      limits:
        memory: 2Gi
  scheduling:
    userPlaceholder:
      enabled: true
      replicas: 100
