jupyterhub:

  hub:
    services:
      data8-staging.datahub.berkeley.edu:
        name: data8-staging.datahub.berkeley.edu
        oauth_redirect_uri: https://data8-staging.datahub.berkeley.edu/hub/oauth_callback
      astro-staging.datahub.berkeley.edu:
        name: astro-staging.datahub.berkeley.edu
        oauth_redirect_uri: https://astro-staging.datahub.berkeley.edu/hub/oauth_callback
      ischool-staging.datahub.berkeley.edu:
        name: ischool-staging.datahub.berkeley.edu
        oauth_redirect_uri: https://ischool-staging.datahub.berkeley.edu/hub/oauth_callback
      publichealth-staging.datahub.berkeley.edu:
        name: publichealth-staging.datahub.berkeley.edu
        oauth_redirect_uri: https://publichealth-staging.datahub.berkeley.edu/hub/oauth_callback
  scheduling:
    userPlaceholder:
      enabled: false
    userScheduler:
      replicas: 1
  prePuller:
    continuous:
      enabled: false
  proxy:
    https:
      enabled: false
  ingress:
    enabled: true
    hosts:
      - staging.datahub.berkeley.edu
    tls:
      - secretName: tls-cert
        hosts:
          - staging.datahub.berkeley.edu
