version: "v0.6.0-dcb92ba"

hub:
  db:
    type: postgres
  extraConfig: |
    from kubespawner import KubeSpawner
    from tornado import gen
    import yaml
    import os

    class CustomAttrSpawner(KubeSpawner):
      # TEMP Hack to work around users with leading _ in names
      #@gen.coroutine
      #def get_pod_manifest(self):
      #  pod = yield super().get_pod_manifest()
      #
      #  label = 'hub.jupyter.org/username'
      #  if label in pod.metadata.labels and \
      #    pod.metadata.labels[label].startswith('_'):
      #    pod.metadata.labels[label] = 'user' + pod.metadata.labels[label]
      #
      #  return pod

      @gen.coroutine
      def start(self):
        with open('/etc/jupyterhub/config/custom.memory') as f:
          custom_attr_lists = yaml.safe_load(f)
          for attr, users in custom_attr_lists.items():
            if self.user.name in users:
              self.mem_limit = attr
              self.mem_guarantee = attr
              break

        with open('/etc/jupyterhub/config/custom.image') as f:
          custom_attr_lists = yaml.safe_load(f)
          for attr, users in custom_attr_lists.items():
            if self.user.name in users:
              self.singleuser_image_spec = attr
              break
        return (yield super().start())

    c.JupyterHub.spawner_class = CustomAttrSpawner

    # HACK: manually edited deployment to add volume to /srv/log
    c.JupyterHub.extra_log_file = '/srv/log/jupyterhub.log'

    # HACK: this is temporary and will go away soon (~0.6)
    if 'HUB_USERNAME_MAP' in os.environ:
        # expect badname1=goodname1:badname2=goodname2
        c.Authenticator.username_map = {}
        keyvals = os.environ['HUB_USERNAME_MAP']
        for keyval in keyvals.split(':'):
            key, val = keyval.split('=')
            c.Authenticator.username_map[key] = val

#prePuller:
#  extraImages:
#    - name: "berkeleydsep/datahub-user-geog187"
#      tag: "698a2a1"

rbac:
  enabled: false

auth:
  type: google
  admin:
    users:
        # infrastructure
        - rylo
        - yuvipanda
        - chench
        - vinitra
        - gunjan_baid
        - acheema
        # sp18 data 8 Professors
        - adhikari
        # sp18 data 8 GSIs
        - fhdkmrn
        - wumadeline
        - austenzhu
        - supadhyay
        - v.oikonomou
        - scott.lee.3898
        - abala
        - adnan.h
        - akritisingh
        - amrosenthal
        - ashahatit
        - alinxie
        - averyyip
        - clairezhang
        - dcroce
        - echang7
        - emmajaeger
        - chenge
        - fmcquarrie3
        - hsubbaraj
        - howardki888
        - jwarnagieris
        - j.hu
        - huangjiayi0922
        - jwhughes
        - michelleyang
        - nwang97
        - namushegian
        - niraj.a.rao
        - nskh
        - ravi.singhal
        - narain.rohan
        - ronald.walker
        - rjoshi
        - rroggenkemper
        - s.mani
        - tanaynathan18
        - vienannguyen
        # connector instructors
        - miladm
        - cmason
        - feehan
        - yasminal
        - samyag1
        - michael.eickenberg
        - ericvd
        - shobhana
        # LING 243 Spring 2018
        - terry.regier
        # COGSCI 131 Spring 2018
        - ddbourgin
        # ECON 101B Spring 2018
        - jbdelong

singleuser:
  memory:
    guarantee: 1G
    limit: 1G
  image:
    name: berkeleydsep/datahub-user
  storage:
    type: hostPath
    extraVolumes:
      - name: home
        hostPath:
          path: /data/homes/{username}
      - name: cogneuro
        hostPath:
          path: /data/homes/_cogneuro
    extraVolumeMounts:
      - name: home
        mountPath: /home/jovyan
      - name: cogneuro
        mountPath: /data/cogneuro
        readOnly: True
